<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.OnlineShop.models">
  <resultMap id="UserMapper" type="com.solvd.OnlineShop.models.User">
	<id column="id" property="id"/>
	<result column="name" property="name"/>
	<result column="last_name" property="lastName"/>
	<result column="age" property="age"/>
	<result column="email" property="email"/>
	<result column="password" property="password"/>
	<result column="mobile" property="mobile"/>
	<!--collection property="products" javaType="ArrayList" ofType="com.solvd.OnlineShop.models.Product"
	    column="id" resultMap="ProductMapper"/-->
  </resultMap>
  
 
</mapper>