<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.OnlineShop.dao.mybatis.IUserDAO">
  <resultMap id="UserResultMap" type="User">
	<id column="id" property="id"/>
	<result column="name" property="name"/>
	<result  column="last_name" property="lastName"/>
	<result column="age" property="age"/>
	<result column="email" property="email"/>
	<result column="password" property="password"/>
	<result column="mobile" property="mobile"/>
	<collection property="products" javaType="ArrayList" ofType="Product" column="u.id" foreignColumn="prod.user_id" resultMap="com.solvd.OnlineShop.dao.mybatis.IProductDAO.ProductResultMap"/>
	<collection property="searchHistory" javaType="ArrayList" ofType="SearchHistory" column="u.id" foreignColumn="sh.user_id" resultMap="com.solvd.OnlineShop.dao.mybatis.ISearchHistoryDAO.SearchHistoryResultMap"/>
	<collection property="preferences" javaType="ArrayList" ofType="Preference" column="u.id" foreignColumn="pref.user_id" resultMap="com.solvd.OnlineShop.dao.mybatis.IPreferenceDAO.PreferenceResultMap"/>
  </resultMap>
</mapper>
